/* Skills.css */
h1 {
    margin: 1rem;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow effect */
}
.container-skill {
    margin: 1rem 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circle {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(120, 10, 10, 0.2); /* Add shadow effect on hover */
    background-color: rgb(217, 191, 241);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: all 0.3s ease; /* Apply transition effect for smooth hover */
}

.circle > img {
    max-width: 70%; /* Ensures the image does not exceed the size of the circle */
    max-height: 100%; /* Ensures the image does not exceed the size of the circle */
}

.circle:hover {
    transform: scale(1.1); /* Scale up the circle on hover */
    box-shadow: 0 0 20px rgba(120, 10, 10, 0.5); /* Add shadow effect on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.circle:hover img {
    opacity: 1; /* Show image on hover */
}






@media only screen and (max-width: 620px) {
  
    .container-skill  {
      align-items: center;
      margin: 0px;
      display: flex;
      flex-wrap: wrap;
    }

    .circle{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }
    


    
    }
    
    
    @media only screen and (max-width: 885px) {
      
    
      
      }